<div class="main students-edit">
  <div class="container">
    <h3>生徒情報編集</h3>
    <%= form_with url:"/students/#{@student.id}/update" do %>

      <div class="form-group">
        <label for="num">学籍番号</label>
        <input type="text" id="num" name="num" value="<%=@student.num%>" class="form-control">
      </div>
      <div class="form-group">
        <label for="family_name">名字</label>
        <input type="text" id="family_name" name="family_name" value="<%=@student.family_name%>" class="form-control">
      </div>
      <div class="form-group">
        <label for="first_name">名前</label>
        <input type="text" id="first_name" name="first_name" value="<%=@student.first_name%>" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" value="登録" class="btn btn-primary">
      </div>

    <% end %>
  </div>
</div>